.Maverick.Controls\.FlexibleOrderingGrid .footer {
    display: flex;
    padding: 1px;
    margin-top: 5px;
}

.Maverick.Controls\.FlexibleOrderingGrid .footerLabel {
    width: 70px;
    margin-top: 10px;
}

.Maverick.Controls\.FlexibleOrderingGrid .footerSave {
    margin-left: 10px;
}
.Maverick.Controls\.FlexibleOrderingGrid .footerUnsavedChanges {
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight: 500;
    width: 120px;
    margin-left: 18px;
}

.Maverick.Controls\.FlexibleOrderingGrid .footerCmdBar {
    width: -webkit-fill-available;
}

.savingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

/* .Maverick.Controls\.FlexibleOrderingGrid .footerCmdBar i {
    font-size: 0.7rem;
}
.Maverick.Controls\.FlexibleOrderingGrid .footerCmdBar div {
    height: 30px;
} */
