<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*Api.dll$</ModulePath>
              </Include>
            </ModulePaths>
            <Functions>
              <Exclude>
                <Function>.*Migrations.*</Function>
              </Exclude>
            </Functions>
            <Sources>
              <Exclude>
                <Source>.*Migrations.*</Source>
                <Source>.*Designer.cs</Source>
              </Exclude>
            </Sources>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
