services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspace:cached
    command: sleep infinity
    network_mode: service:db
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__studydb=Host=localhost;Port=5432;Database=studydb;Username=postgres;Password=postgres
      - ConnectionStrings__cache=localhost:6379
    depends_on:
      - db
      - redis

  db:
    image: postgres:17-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: studydb
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data
    network_mode: service:db

volumes:
  postgres-data:
  redis-data: