.strikethrough {
  text-decoration: line-through;
}

.savingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}
